.img-background{
    -fx-background-image: url('../images/Flow1.jpg');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-color: white;
    -fx-background-repeat: no-repeat;
    -fx-padding: 10 20 10 20;
}

.score-box{
    -fx-background-color: white;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-text-alignment: center;
    -fx-padding: 10px 10px 10px 10px;
    -fx-font-family: Michelin, sans-serif;
    -fx-font-size: 18pt;
 }
.outer-score-box{
    -fx-background-color: rgb(255,255,255,.8);
    -fx-padding: 10px 10px 10px 10px;
    -fx-border-width: 2px;
    -fx-border-color: yellow;
}
.score-box-label{
    -fx-font-family: Michelin, sans-serif;
    -fx-font-size: 10pt;
}
.outer-title-box{
    -fx-background-color: rgb(255,255,255,.1);
}
.title-header{
    -fx-font-family: Michelin;
    -fx-font-size: 50pt;
    -fx-font-weight: bolder;
    -fx-text-fill: darkblue;
    -fx-text-alignment: center;
    -fx-background-color:  rgb(255,255,255,.6);
    -fx-label-padding: 0px 18px 0px 18px;
    -fx-border-width: 2px;
    -fx-border-color: yellow;
}

.sub-header{
    -fx-font-family: Michelin;
    -fx-font-size: 22pt;
    -fx-font-weight: bold;
    -fx-text-fill: darkblue;
    -fx-text-alignment: center;
    -fx-background-color:  rgb(255,255,255,.6);
    -fx-border-width: 2px;
    -fx-border-color: yellow;
}

.date-group{
    -fx-background-color: white;
    -fx-padding: 10;
    /*-fx-border-radius: 5;*/
    -fx-border-width: 2px;
    -fx-border-color: yellow;
}

.date-box{
    -fx-background-color: lightgray;
    -fx-text-alignment: center;
    -fx-padding: 0px 5px 0px 5px;
    -fx-font-family: Michelin, sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 16pt;
}
.date-box-label{
    -fx-font-family: Michelin, sans-serif;
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}

.read-only-textarea{
    -fx-background-color: white;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-opacity: 1;
    -fx-font-family: Michelin;
    -fx-font-size: 14pt;
}

.buttons{
    -fx-font-family: Michelin-Bold, sans-serif;
    -fx-font-size: 12pt;
    -fx-text-alignment: center;
    -fx-font-weight: bold;
}

.card-box{
    -fx-border-color: black;
    -fx-border-width: 4;
    -fx-border-radius: 18 18 18 18;
    -fx-background-color: white;
}
.card-title{
    -fx-font-family: Michelin-Bold, sans-serif;
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}
.card-subtitle{
    -fx-font-family: Michelin-Bold, sans-serif;
    -fx-font-size: 13pt;
}
.card-reason{
    -fx-font-family: Michelin-Bold, sans-serif;
    -fx-font-size: 12pt;
}
.card-description-title{
    -fx-font-family: Michelin, sans-serif;
    -fx-font-size: 11pt;
}
.card-description{
    -fx-font-family: Michelin, sans-serif;
    -fx-font-size: 10pt;
}
.card-instruction{
    -fx-font-family: Michelin, sans-serif;
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
}
.table-row-cell:empty {
    -fx-background-color: white;
}
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.integer-text-field{
    -fx-font-family: Michelin;
    -fx-font-size: 14pt;
    -fx-text-alignment: center;
}

.card-box-group {
    -fx-background-color: transparent;
}

.score-table-box {
    -fx-background-color: gray;
    -fx-border-width: 2px;
    -fx-border-color: yellow;
}

.board-label {
    -fx-background-color: white;
    -fx-font-family: Michelin;
    -fx-font-size: 18pt;
}