.img-background{
    -fx-background-image: url('images/Flow1.jpg');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-color: white;
    -fx-background-repeat: no-repeat;
    -fx-padding: 10 20 10 20;
}

.score-box{
    -fx-background-color: white;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-text-alignment: center;
    -fx-padding: 10px 10px 10px 10px;
    -fx-font-family: Michelin, sans-serif;
    -fx-font-size: 18pt;
 }
.outer-score-box{
    -fx-background-color: rgb(255,255,255,.8);
}
.score-box-label{
    -fx-font-family: Michelin, sans-serif;
    -fx-font-size: 12pt;
}
.outer-title-box{
    -fx-background-color: rgb(255,255,255,.5);
}
.header{
    -fx-font-family: Michelin-Bold, sans-serif;
    -fx-font-size: 40pt;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

.sub-header{
    -fx-font-family: Michelin-Bold, sans-serif;
    -fx-font-size: 20pt;
    -fx-text-alignment: center;
}

.date-group{
    -fx-background-color: white;
    -fx-padding: 10;
    /*-fx-border-radius: 5;*/
}

.date-box{
    -fx-background-color: lightgray;
    -fx-text-alignment: center;
    -fx-padding: 0px 5px 0px 5px;
    -fx-font-family: Michelin, sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 16pt;
}
.date-box-label{
    -fx-font-family: Michelin, sans-serif;
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}

.read-only-textarea{
    -fx-background-color: white;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-opacity: 1;
    -fx-font-family: Michelin, sans-serif;
    -fx-font-size: 12pt;
}

.buttons{
    -fx-font-family: Michelin-Bold, sans-serif;
    -fx-font-size: 14pt;
    -fx-text-alignment: center;
    -fx-font-weight: bold;
}

.card-box{
    -fx-border-color: black;
    -fx-border-width: 4;
    -fx-border-radius: 18 18 18 18;
    -fx-background-color: transparent;
}
.card-title{
    -fx-font-family: Michelin-Bold, sans-serif;
    -fx-font-size: 18pt;
    -fx-font-weight: bold;
}
.card-subtitle{
    -fx-font-family: Michelin-Bold, sans-serif;
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
}
.card-reason{
    -fx-font-family: Michelin-Bold, sans-serif;
    -fx-font-size: 12pt;
}
.card-description-title{
    -fx-font-family: Michelin, sans-serif;
    -fx-font-size: 10pt;
}
.card-description{
    -fx-font-family: Michelin, sans-serif;
    -fx-font-size: 8pt;
}
.card-instruction{
    -fx-font-family: Michelin, sans-serif;
    -fx-font-size: 8pt;
    -fx-font-weight: bold;
}
.table-row-cell:empty {
    -fx-background-color: white;
}
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}